@import "tailwindcss";

:root {
  /* Brand */
  --brand-green: #14532d;
  --brand-yellow: #e29d08;
  --brand-red: #991b1b;

  /* Backgrounds */
  --background: #f8fafc;
  --background-secondary: #f1f5f9;

  /* Text */
  --foreground: #0f172a;
  --foreground-muted: #64748b;

  /* Accent */
  --accent-gradient: linear-gradient(135deg,
      var(--brand-green),
      var(--brand-yellow));
}